      {% extends "static/templates/base.html" %}
      {% block title %}Home{% endblock %}

      {% block content %}
      <div class="hero-unit">
        <h1>Garbage Problems?</h1>
        <p>Here's a place to help you diagnose them, all you need is a garbage collector log, and we'll help you make sense of the data it contains</p>
        <p><a class="btn btn-primary btn-large" href="/about">Learn more &raquo;</a></p>
      </div>

      <div class="row">
        <div class="span4">
           <h2>Upload</h2>
           Submit your GC logfile below:
           <form action="/analyse" enctype="multipart/form-data" method="post">
                  <label>
                    <input type="file" name="gclog" required="required"/>
                  </label>
                  <label>Configuration Notes (JVM options could be useful here...)
                    <input type="text" name="notes"/>
                  </label>
                  <button type="submit" class="btn">Submit</button>
           </form>
        </div>
        <div class="span4">
          <h2>More info</h2>
          A summary of supported Oracle GC configurations can be viewed on the fasterj site <a href="http://www.fasterj.com/articles/oraclecollectors1.shtml" target="_blank">here</a>
       </div>
        <div class="span4">
          <h2>Supported configurations</h2>
          <ul>
            <li>Oracle JVM 1.6 - all except G1GC</li>
          </ul>
        </div>
      </div>

    {% endblock %}